<div class="container mt-4">
  <div class="row">
    <div class="col-3">
      <small>*必填欄位</small>
    </div>
    <div class="col-9">
      <p>請修改你的支出</p>
    </div>
  </div>

  <form action="/records/{{ record._id }}?_method=PUT" method="POST">

  <div class="row mt-3">
    <div class="col">
      <div class="form-group row align-items-center">
        <label for="name" class="col-3">名稱* ：</label>
        <div class="col-9">
          <input type="text" name="name" placeholder="支出項目名稱" class="form-control" value="{{ record.name }}" required> 
        </div>
      </div>
    </div>
  </div>

  <div class="row mt-3">
    <div class="col">
      <div class="form-group row">
        <label for="date" class="col-3">日期* ：</label>
        <div class="col-9">
          <input type="date" name="date" value="{{ record.date }}" class="form-control" required>
        </div>
      </div>
    </div>
  </div>

  <div class="row mt-3">
    <div class="col">
      <div class="form-group row">
        <label for="category" class="col-3">類別* ：</label>
        <div class="col-9">
          <select name="category" id="category" class="form-control" required>
            <option value="{{ record.category }}">{{ record.category }}</option>
            {{#each categories}}
              <option value="{{this.category}}">{{this.category}}</option>
            {{/each}}
          </select>
        </div>
      </div>
    </div>

  </div>

  <div class="row mt-3">
    <div class="col">
      <div class="form-group row">
        <label for="amout" class="col-3">金額* ：</label>
        <div class="col-9">
          <input type="number" name="amount" class="form-control" aria-placeholder="支出金額" min=0 required value="{{ record.amount }}">
        </div>
      </div>
    </div>
  </div>

  <div class="row my-5 text-center">
    <div class="col-6 offset-3">
      <button type="submit" class="btn btn-info btn-block">送出</button>
    </div>
  </div>

  </form>


</div>