<div class="container mt-4">
  {{!-- 類別下拉 --}}
  <form action="/filter" method="POST">
    <div class="form-group row">
      <label for="category" class="col-2">類別</label>
      <select name="filteredCategory" id="filteredCategory" class="form-control col-10" onchange="this.form.submit()">
        {{#if ( eq category '')}} <option selected disabled value="">請下拉</option> {{/if}}
        {{#if ( neq category '')}} <option selected disabled value="{{ category }}">{{ category }}</option> {{/if}}
        {{#each categories}}
        <option name="{{this.category}}"  value="{{this.category}}" {{#if (eq ../category this.category ) }} selected {{/if}}> {{this.category}} </option>
        {{/each}}
      </select>
    </div>
  </form>
  {{!-- 總金額 --}}
  <div class="row mt-4">
    <div class="col">
      <h4>總金額：</h4>
    </div>
    <div class="col">
      <h3>{{ totalAmount }}</h3>
    </div>
  </div>
</div>

<div class="container mt-4">
    <table class="table table-striped">
      <tbody>

        {{#each records}}
          <tr>
            {{!-- 支出內容 --}}
            <th scope="row"> {{ this.category }} {{ categories.category}}</th>
            <td><h4>{{ this.name }}</h4>
            <small>{{ this.date }}</small></td>
            <td>{{ this.amount }}</td>
            {{!-- 編輯選項 --}}
            <td>
              <form action="/records/{{ _id }}/edit" method="GET">
                <button class="btn"><div class="btn">修改</div></button>
              </form>
            </td>
            <td>
              <form action="./records/{{ this._id }}?_method=DELETE" method="POST">
                <button type="submit" class="btn" id="delete-submit" onclick="return(confirm('確認要刪除【{{ this.name }}】嗎?'))">刪除</button>
              </form>
            </td>
          </tr>
        {{/each}}



      </tbody>
    </table>
  </div>
</div>

<div class="container my-5">
  <div class="row text-center justify-content-center">
    <div class="col-5 col-md-4 ">
      <a href="/records/new"><button type="submit" class="btn btn-info btn-block">新增支出</button></a>
    </div>
    <div class="col-4 col-md-2">
      <a href="/"><button class="btn btn-secondary btn-block">回總清單</button></a>
    </div>
  </div>
</div>